@import "./utilities/variables";
@import "./utilities/mixin";
@import "./utilities/mapas";


@import "./base/reset";
@import "./base/typografias";



  .botonSubir{
    display: block;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 0px 15px 15px 0px;
    transition-timing-function: ease-out;
    transition: 0.1s;
        &:hover{
        filter: saturate(2);
        transform: scale(1.1);
    }
}
.backgroundIndex{
    background-image: url(../assets/img/fondoBLack-Violet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 60px 30px 0px 30px;     
    .logoUno{
        height: 50px;
        width: auto;
    } .buscarUno{
            display: block;
           }
    
.barraGrande{
    padding-top: 20px;
    
   /* Estilos para el menú hamburguesa */    
    
    .navBar{
        @include flex(flex,row,wrap,space-around,center,80px);
        list-style: none;
        a{
            font-size: 16px;    
            color: white;    
            font-family: montserrat;
            text-decoration: none;
            transition: 0.2s;
            text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
                &:hover{
                color: $color-violeta;
                
            }
        }
        .barra{
            border-bottom: 1px solid $color-violeta;
        }       
    }    
}
.menuDesplegable{
    display: none;
   }
} 

.banner{
    .nombreBanner{
        text-align: center;
        background-image: url(../assets/img/noiserGris.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 800px;
        width: 100%;
        img{
            margin-top: 430px;
            height: auto;
            width: 60%;
            transition-timing-function: ease-out;
            transition: 1.2s;
             &:hover{
                transform: scale(1.5);
            }
        }
    }
    .detalleBanner{
        height: auto;
        width: 100%;
        @include flex(flex,row,wrap,space-around,center,0px);
        font-family: montserrat;
        color: map-get($colores-oscuros, colorOscuro2);  
        margin-top: 20px;
        padding-bottom: 3rem;
        h2{
            font-size: 20px;
        }
        div{
            width: 33.33%;
            text-align: center;
            img{
                padding-left: 40px;
                text-align: center;
            }
        }
        a{    
            transition-timing-function: ease-in-out;
            transition: 0.1s;
            &:hover{
                filter: brightness(50);
                transform: scale(0.95);
            }
        }
        .flexFlecha{    
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px; 
            a{
                text-decoration: none;
                color: map-get($colores-oscuros, colorOscuro2);    
                font-size: 20px;
            }
              
        }
    }
}

.agencia{
    height: auto;
    width: 100%;
    color: white;
    font-family: milker;
    padding: 40px 0px 90px 0px;
    background-image: url(../assets/img/fondoBlack-white.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .flexSomosUna{
        @include flex(flex,row,wrap,center,center,0px);
        color: $color-celeste;
        align-items: center;
        padding-bottom: 50px;
        h1{
            text-transform: uppercase;
            font-size: 8vh;
            text-shadow: 5px 5px 0px #212121;
            span{
                color: $color-violeta;
                font-size: 12vw;
                transition: 0.5s;
                transition-timing-function: ease-in;
                text-shadow: 5px 5px 0px #212121;
                &:hover{
                    color: white;
                }
            }
        }
    }

    .flexAgencia{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 10px;
        .flexCajaUno{
            width: 45%;
            p{
                width: 100%;
                font-size: 3.3vw;
                text-align: center;
                line-height: 4vw;
                text-shadow: 5px 5px 0px #212121;
                span{
                    color: $color-violeta;
                    font-size: 3.6vw;    
                    transition: 0.5s;
                    transition-timing-function: ease-in;   
                    &:hover{
                        color: $color-celeste;
                    } 
                }
            }
        }
        .video{
           width: 45%;
            iframe{
            height: 50vh;
            width: 100%;
            transition: 1s;
            transition-timing-function: ease-in-out;    
            border-radius: 10px;
            &:hover{
                filter: brightness(1.2);
                transform: scale(1.1);
            }
        }         
    }             
        
    }    .miscelaneasAgencia{
        width: 100%;
        display: flex;
        justify-content: end;
        padding: 50px 20px 20px 0px;
        margin-right: 80px;
        align-items: center;
        gap: 592px; 
    }    
}
.serviciosDeAgencia{
    height: auto;
    width: 100%;
    padding: 80px 0px 200px 0px;
    color: map-get($colores-oscuros, colorOscuro1);  
    text-align: center;
    background-image: url(../assets/img/fondoBlanco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    h2{
        font-family: milker;
        font-size: 56px;
        padding-bottom: 48px;
        color: #000000;
        text-shadow: 5px 5px 0px #ffffff;
      }
      p{
        width: 65%;
        font-family: montserrat;
        font-size: 24px;
        margin: auto;
        margin-bottom: 100px;
        text-shadow: 1px 1px 1px map-get($colores-oscuros, colorOscuro2);
    }
    .imagenesPortfolio{
        width: 100%;
        @include flex(flex,row,wrap,center,center,0px);
        margin: auto;
        .cajaPortfolio{
            height: 350px;
            width: 350px;
            background-repeat: no-repeat;
            background-size: cover;
            transition-timing-function: ease-in;
            transition: 0.5s;
            &:hover{
                transform: scale(1.1);
            }
        }
        .uno{
            background-image: url(../assets/img/fotografias.jpg);
            align-content: center;
            background-size: cover;
        }
        .dos{
            background-image: url(../assets/img/tresD.webp);
            align-content: center;
            background-size: cover;
        }
        .tres{
            background-image: url(../assets/img/branding.webp);
            align-content: center;
            background-size: cover;
        }
        .cuatro{
            background-image: url(../assets/img/audiovisual.webp);
            align-content: center;
            background-size: cover;
        }
        .cajaNegra{
            height: 80%;
            width: 80%;
            background-color: rgba(0, 0, 0, 0.678);    
            margin: auto;   
            align-content: center;
            h4{    
                font-family: milker; 
                font-size: 22px;
                letter-spacing: 4px;
                font-weight: lighter;
                color: white;   
            }            
        }        
    }   
    }


//   FOOTER
    footer {
        height: auto;
        width: 100%;
        font-family: montserrat;
        background-image: url(../assets/img/fondoFooter.jpg);
        background-size: cover;
        .infoFooter{
            @include flex(flex,row,wrap,space-around,center,40px);
            color: $color-celeste;
            margin: 0px 0px 10px 0px;
            padding: 40px 5px 40px 5px;
        }
        .informacionFooter{
            color: white;
            @include flex(flex,row,wrap,space-around,center,40px);
            padding: 40px 5px 20px 5px;    
            h3{
                color: $color-violeta;
                font-family: milker;
                font-size: 30px;
                position: relative;
                padding-bottom: 30px;
                text-align: left;    
                font-weight: lighter;
                &::after{
                    content: '';
                    display: block;
                    position: absolute;
                    height: 3px;
                    width: 90px;
                    background-color: $color-violeta;
                    bottom: 20px;
                  }
            }
            a{
                text-decoration: none;
                color: white;
                font-size: 25px;                
                transition-timing-function: ease-out;
                transition: 0.1s;
                &:hover{
                    color: $color-celeste;
                   }
               }
               .dataFooter{
                display: flex;
                flex-direction: column;    
                text-align: left;
                color: white;
            }           
        }
        p:last-child{
            color: white; 
            text-align: center;   
            padding: 80px 0px 40px 0px;
            margin: 0;
        }
    }



// PORTFOLIO

.carousel{
    .carousel-control-next, .carousel-control-prev{
        height: 100px;
        align-self: center;
    }
    .carousel-inner{
        position: relative;
        .imagenesCarrusel img{
            height: 100vh;
            object-fit: cover;
        }
        .contenedorCajaDetalle{
            height: auto;
            width: 100%;
            position: absolute;
            top: 88%;
            text-align: center;
            .cajaDetalle{
                width: 30rem;
                text-align: center;
                color: white;  
                font-family: milker; 
                font-size: 1.25rem;
                margin: auto;
                text-shadow: 2px 2px 5px black;                
            h2{
                font-family: montserrat;
                line-height: 0px;
                font-size: 1.25rem;    
                text-shadow: 2px 2px 5px black;
            }
            }
        }
    }   
}

.trabajos{
    background-color: white;    
    text-align: center;
    color: black;
    padding-top: 1.25rem;
    .seccionesTrabajos{
        @include flex(flex,row,wrap,center,center,20px);
        padding: 30px 0px 30px 0px;
        list-style: none;           
               li{
                   a{
                    font-family: montserrat;
                    font-size: 1.25rem;    
                    color: map-get($colores-oscuros, colorOscuro1);      
                    text-decoration: none;
                    text-align: center;
                    transition-timing-function: ease-out;
                    transition: 0.1s;   
                    &:active{
                        font-weight: bolder;
                    } 
                    &:hover{
                        font-weight: bolder;
                    }
                } 
            }.linea-vertical{
                padding-right: 20px;
                border-right: 1px solid map-get($colores-oscuros, colorOscuro1);  ;
            }
                       
    }
    }

    .galeria{
        gap: 0;
        width: 90%;
        margin: auto;
        div{
            margin: 0px;
            padding: 0px;
            gap: 0;
        }
        img{
            height: auto;
            width: 550px;
            object-fit: cover;
            transition-timing-function: ease-in-out;
            transition: 0.5s;
            &:hover{
                filter: saturate(1.5);
                transform: scale(0.95);
                object-fit: contain;
            }
        }
        
    }


// SERVICIOS

.servicios{    
    background-image: url(../assets/img/fondoNegro.webp);
    height: auto;
    background-repeat: repeat;
    background-size: contain;
    .fondoServicios{
        height: 100vh;
        width: 100%;
        background-image: url(../assets/img/servicios/fondoServicios.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        .outlineServicio{
            height: 100vh;
            width: 90%;
            margin: auto;
            background-image: url(../assets/img/servicios/servicios.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        h2{
            font-size: 10vw;
            padding-top: 47vh;
            color: white;
            font-family: milker;
            text-align: center;
            font-weight: lighter;
        }
    }

    .cajasServicios{
        height: auto;
        width: 100%;
        padding: 120px 20px 152px 20px;    
        font-family: milker;    
        font-size: 25px;
        font-weight: lighter;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .listaDetalle ul{
        width: 40vw;
        font-size: 40px;
        padding: 0rem 3.75rem 0rem 3.75rem;
        li{
            margin-top: 20px;
        }
    }
    .brandingServicio{
        height: auto;
        width: 100%;
        clip-path: polygon(0% 90%, 100% 100%, 100% 0%, 0% 0%);
        background-image: url(../assets/img/fondoBlanco.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
        h2{
            font-size: 3.75rem;
            text-align: center;    
            color: $color-violeta;
            text-shadow: 5px 5px 0px #ffffff;
        }span{
            font-size: 128px;
            line-height: 100px;
        }div p{    
            font-size: 28px;
            font-family: montserrat;
            margin-top: 20px;
            color: $color-violeta;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.578);
        }
    }
    .videosAnimados{
        height: auto;
        width: 100%;
        color: white;    
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 500px;
            left: 0;
            background-image: url(../assets/img/firulete.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 450px;
            width: 450px;
        }h2{
            font-size: 100px;
            text-align: center;
            line-height: 90px;
            color: white;    
            text-shadow: 5px 5px 0px $color-violeta;
            span{   
                font-size: 70px;
            }
        }p{
            font-size: 28px;
            font-family: montserrat;
            text-align: right;
            padding-top: 20px;
            margin: 0px 20px 0px 20px;
        }
    }

    .creamosWeb{
        height: auto;
        width: 100%;
        padding: 200px 20px 200px 20px;
        background-image: url(../assets/img/fondoBlanco.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        clip-path: polygon(0% 90%, 100% 100%, 100% 0%, 0% 10%);
        position: relative;    
        z-index: 0;
        h2{
            font-size: 100px;
            line-height: 100px;
            text-align: center;
            color: $color-violeta;
            text-shadow: 5px 5px 0px #ffffff;
            span{
                font-size: 145px;
            }
        }div p{
            width: 42vw;
            font-size: 28px;
            font-family: montserrat;
            margin-top: 20px;
            color: $color-violeta;
            text-align: left;  
            padding-top: 20px;
            margin-left: 20px;    
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.578);
        }
        .listaDetalle{
            width: auto;
            padding-left: 10px;
        }
    }    
}
.formSection{
    height: auto;
    padding: 60px 10px 60px 10px;
    width: 100%;
    color: white;
    font-family: milker;
    font-weight: lighter;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../assets/img/contacto/fondoBLack-blueDos.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0px 0px 60px 60px;
        background-image: url(../assets/img/misce-flecha.png);    
        opacity: 0.5;
        height: 250px;
        width: 100px;
        background-repeat: no-repeat;
        background-size: contain;
    }&::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        margin: 60px 60px 0px 0px;
        background-image: url(../assets/img/misce-flecha.png);
        opacity: 0.5;
        height: 250px;
        width: 100px;
        background-repeat: no-repeat;
        background-size: contain;
    } 
    .cajaFormulario{
        height: 500px;
        width: 500px;
        padding-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;   
        position: relative;
        ::placeholder{
            font-family: montserrat;
        }.formulario{
            height: 100%;
            width: 100%;
        }.nombre{
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
        }.contactoForm{    
            width: 100%;
            display: flex;
            justify-content: center;
            input{
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
            }
        }.mensajeEstilo{
            width: 100%;
            height: 250px;
            padding: 10px;
            margin-bottom: 10px;
        }.botonEnviar{
            padding: 15px;
            width: 150px;
            font-family: montserrat;
            position: absolute;
            left: 0;
        }
    }.comienza{
        h3{
        font-size: 70px;
        }p{
        font-family: montserrat;
        font-size: 30px;
     }
    }
}    

// NOSOTROS


.fondoNosotros{
    background-image: url(../assets/img/fondoNegro.webp);
    position: relative;
    z-index: 0;
    &::before{
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 80%, rgba(173, 0, 124, 0.194) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    } 
}

.bannerNosotros{
    height: 100vh;
    width: 100%;
    margin: auto;
    text-align: center;
    background-image: url(../assets/img/misceCubo.webp);
    /* background-size:  56.25rem; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    img{
        height: 450px;
        padding-top: 150px;
        margin-top: 15vh;
    }p{
        color: white;
        width: 60%;
        font-family: montserrat;
        font-size: 20px;
       margin: auto;
       padding-top: 20px;
       span{
        color: $color-violeta;
        font-weight: bold;
    }
    }
}
.equipo{
    img{
        height: auto;
        width: 100%;
    }
}

.integrantes{
    height: auto;
    width: 100%;
    color: white;
    font-family: montserrat;
    padding: 120px 0px 160px 0px;
    @include flex(flex,row,wrap,space-around,center,0px);
    .cajasIntegrantes{
        height: 100vh;
        width: 25%;
        text-align: center;
        padding: 20px 10px 20px 10px;
        h4{
            font-size: 2vw;
            text-align: right;
            padding: 15px 0px 15px 0px;
            border-bottom: 1px solid $color-violeta;
            font-weight: lighter;
        }h6{
            font-size: 12px;
            padding: 5px 0px 0px 0px;
            text-align: left;
            color: $color-celeste;
        }p{
            font-size: 15px;
            height: auto;
            width: 95%;
            text-align: left;
            padding: 5px 0px 5x 0px;
            font-weight: lighter;
        }.integrantesFotos img{
            height: auto;
            width: 100%;
            border-radius: 5px;
            transition-timing-function: ease-in-out;
            transition: 0.5s;
            &:hover{
                transform: scale(0.9);
            }
        }.cajaRedes{
            text-align: right;
            margin-right: 20px;
            transition-timing-function: ease-out;
            transition: 0.5s;
            a img:hover{
                filter: brightness(50);
                transform: scale(0.9);
            }
        }  
    }
}


// CONTACTO

.contactanos{
    height: 100vh;
    width: 100%;
    background-image: url(../assets/img/contacto/fondoBLack-blue.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: montserrat;
    text-align: center;
    padding-top: 24vh;
    h1{
        color: white;
        font-weight: lighter;
        font-size: 10vw;
        margin: 0px;
    }h2{
        font-size: 6vw;
        color: map-get($colores-oscuros, colorOscuro2);  ;
        margin: 0rem;
    }h3{
        color: white;
        padding: 60px 0px 30px 0px;
        font-size: 40px;
        font-weight: lighter;
    }p{
        color: white;      
    }a{
        font-size: 25px;
        color: white;
        text-decoration: none;
    }
}
.ofrecemos{
    width: 100%;
    padding: 100px 100px 100px 0px;
    background-color: white;
    color: black;    
    font-family: montserrat;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 160px;
        margin-right: 80px;
        height: 190px;
        width: 190px;
        background-image: url(../assets/img/plast.gif);
        background-size: cover;
        background-repeat: no-repeat;
    }p{
        width: 70%;
        font-size: 1.5vw;
        margin: auto;
    }.queremos{
        h4{
            width: 70%;
            padding: 90px 0px 20px 0px;
            font-size: 40px;
            margin: auto;
        }p{
            font-size: 4.5vw;
        }
    }
}




//    Mediaqueris
    @import "./layout/mediaQ/media1400";
    @import "./layout/mediaQ/media976";
    @import "./layout/mediaQ/media400";