@mixin flex($flex,$direction,$wrap,$justify,$align,$gap){
    display: $flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}


